<form data-ng-submit="sendReply(comment)" data-ng-show="comment.replied">
    <p class="messages-list" data-ng-repeat="message in comment.messagesList" data-ng-show="comment.messagesList">
        <span data-ng-bind="message.responseText" class="{{message.class}} message"></span>
    </p>
    <p data-ng-if="!isUser">
        <label for="fullName" class="required" data-translate="YOU_FULLNAME"></label>
        <input id="fullName" type="text" name="fullName" data-ng-model="comment.rForm.fullName" />
    </p>
    <p data-ng-if="!isUser">
        <label for="email" class="required" data-translate="YOU_EMAIL"></label>
        <input id="email" type="text" name="email" data-ng-model="comment.rForm.email" />
    </p>
    <p>
        <label for="message" class="required" data-translate="YOU_REPLY"></label>
        <textarea id="message" name="message" data-ng-model="comment.rForm.message"></textarea></p>
    <p>
        <a class="btn" data-ng-click="cancelReply(comment)" data-translate="CANCEL"></a>
        <button type="submit" data-translate="SEND"></button>
    </p>
</form>