<?php
$this->headLink()
     ->appendStylesheet($this->websiteUrl . 'system/css/reset.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster-ui.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster.css');
echo $this->headLink();

$this->jQuery()->enable();
$this->jQuery()->uiEnable();
$this->jQuery()
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/chosen/chosen.jquery.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/jquery/plugins/cookie/jquery.cookie.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/smoke/smoke.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/internal/system.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/angular.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/sys/app.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/sys/controllers.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/sys/services.js');
echo $this->jQuery();
?>

<div class="seotoaster container" data-ng-app="CommentsConfig" data-ng-controller="CommentsConfigManagerCtrl">
    <div class="header">
        <?php echo $this->translate('Comments system list manager'); ?>
        <div class="closebutton">
            <a title="Close" href="javascript:;" class="close ticon-close"><?php echo $this->translate('Close'); ?></a>
        </div>
    </div>
    <div class="content-footer">
        <div class="grid_12 list-title" id="redirect-title">
            <div class="grid_1 mr0 ml0 text-center"></div>
            <div class="grid_5 alpha omega ml-grid mr-grid"></div>
            <div class="grid_6 mr0"></div>
        </div>
        <div class="grid_12 items-list" id="redirects-list">
            <div class="redirect-row list-row">
                <div class="grid_2 gray">02/24/15 10:35</div>
                <div class="grid_2 alpha omega">Andrei Zhuk</div>
                <div class="grid_3 omega">{{message}}</div>
                <div class="grid_3 omega">Some page bla-bla</div>
                <div class="grid_2 text-right">
                    <a class="ticon-edit icon18"></a>
                    <a class="ticon-remove3 warning icon18"></a>
                    <a class="ticon-remove2 error icon18"></a>
                </div>
                <div class="grid_10 mt10px prefix_2 alpha text-overflow">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad, aliquam blanditiis deserunt excepturi explicabo laborum maiores molestias obcaecati odio porro, quas qui quisquam saepe sapiente? Iure magni molestias voluptate.
                </div>
            </div>
        </div>
    </div>
</div>