<?php
$this->headLink()
     ->appendStylesheet($this->websiteUrl . 'system/css/reset.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster-ui.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster.css');
echo $this->headLink();

$this->jQuery()->enable();
$this->jQuery()->uiEnable();
$this->jQuery()
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/chosen/chosen.jquery.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/jquery/plugins/cookie/jquery.cookie.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/smoke/smoke.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/internal/system.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/angular.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/sys/app.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/sys/controllers.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/sys/services.js');
echo $this->jQuery();
?>

<div class="seotoaster container" data-ng-app="CommentsConfig" data-ng-controller="CommentsConfigCtrl">
    <div class="header">
        <?php echo $this->translate('Comments system config'); ?>
        <div class="closebutton">
            <a title="Close" href="javascript:;" class="close ticon-close"><?php echo $this->translate('Close'); ?></a>
        </div>
    </div>
    <form class="content-footer" name="comments-configuration" data-ng-init="loadConfigsList()" data-ng-submit="saveConfigs()">
        <p class="grid_8">
            <label for="uploader"><?php echo $this->translate('Choose name of the comments'); ?></label>
        </p>
        <p class="grid_4 mt0px">
            <select
                data-ng-model="commentsCurrentItem"
                data-ng-change="changeCommentsName(commentsCurrentItem)"
                data-ng-options="item.listName for item in configsList">
                <option value="">Select</option>
            </select>
        </p>

        <fieldset class="grid_12 background">
            <legend class="h2 background m0px p5px"><?php echo $this->translate('Form options'); ?></legend>
            <p class="grid_11">
                <label for="uploader"><?php echo $this->translate('Show uploader avatars'); ?></label>
            </p>
            <p class="grid_1">
                <input type="checkbox" data-ng-checked="form.uploader == 1" data-ng-true-value="'1'" data-ng-false-value="'0'" name="uploader" data-ng-model="form.uploader" ng-disabled="!commentsCurrentItem" />
            </p>

            <p class="grid_11">
                <label for="aspects"><?php echo $this->translate(
                        'Show the "positive/negative aspects" fields'
                    ); ?></label>
            </p>
            <p class="grid_1">
                <input type="checkbox" data-ng-checked="form.aspects" data-ng-true-value="'1'" data-ng-false-value="'0'" name="aspects" data-ng-model="form.aspects" ng-disabled="!commentsCurrentItem" />
            </p>

            <p class="grid_11">
                <label for="noModerate"><?php echo $this->translate('Disable premodaration comments'); ?></label>
            </p>
            <p class="grid_1">
                <input type="checkbox" data-ng-checked="form.noModerate == 1" data-ng-true-value="'1'" data-ng-false-value="'0'" name="noModerate" data-ng-model="form.noModerate" ng-disabled="!commentsCurrentItem" />
            </p>

            <p class="grid_11">
                <label for="buttonOnlyLogged"><?php echo $this->translate('Show "send" button for authorized users only'); ?></label>
            </p>
            <p class="grid_1">
                <input type="checkbox" data-ng-checked="form.btnOnlyLogged == 1" data-ng-true-value="'1'" data-ng-false-value="'0'" name="btnOnlyLogged" data-ng-model="form.btnOnlyLogged" ng-disabled="!commentsCurrentItem" />
            </p>
        </fieldset>
        <fieldset class="grid_12 mt20px background">
            <legend class="h2 background m0px p5px"><?php echo $this->translate('List options'); ?></legend>
            <p class="grid_11">
                <label for="rating"><?php echo $this->translate('Show rating of comments'); ?></label>
            </p>
            <p class="grid_1">
                <input type="checkbox" data-ng-checked="form.rating == 1" data-ng-true-value="'1'" data-ng-false-value="'0'" name="rating" data-ng-model="form.rating" ng-disabled="!commentsCurrentItem" />
            </p>

            <p class="grid_7">
                <label for="dateFormat"><?php echo $this->translate('Format of output date'); ?> (<a target="_blank" href="https://docs.angularjs.org/api/ng/filter/date">more info</a>)</label>
            </p>
            <p class="grid_5">
                <input type="text" name="dateFormat" placeholder="MMMM dd, yyyy" data-ng-model="form.dateFormat" ng-disabled="!commentsCurrentItem" />
            </p>

            <p class="grid_10">
                <label for="limit"><?php echo $this->translate(
                        'The maximum number of comments on one page'
                    ); ?></label>
            </p>
            <p class="grid_2">
                <input type="text" name="limit" placeholder="15" data-ng-model="form.limit" ng-disabled="!commentsCurrentItem" />
            </p>

            <p class="grid_11">
                <label for="orderInvert"><?php echo $this->translate('Invert the sequence of comments'); ?></label>
            </p>
            <p class="grid_1">
                <input type="checkbox" data-ng-checked="form.orderInvert == 1" data-ng-true-value="'1'" data-ng-false-value="'0'" name="orderInvert" data-ng-model="form.orderInvert" ng-disabled="!commentsCurrentItem" />
            </p>
        </fieldset>
        <p class="grid_12">
            <button ng-disabled="!commentsCurrentItem" class="btn ticon-save mt0px" value="Save changes" type="submit" name="saveConfiguration">Save
                                                                                                             changes
            </button>
        </p>
        <input type="hidden" id="website_url" name="website_url" value="<?php echo $this->websiteUrl; ?>" />
    </form>
</div>