<?php
$this->jQuery()->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/angular.min.js')
    ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/angular-resource.js')
     ->addJavascriptFile(
         $this->websiteUrl . 'plugins/comments/system/layout/js/locale/angular-locale_' . $this->lang . '-' . $this->lang . '.min.js'
     )
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/angular-translate.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/timeAgo.min.js')
     ->addJavascriptFile(
         $this->websiteUrl . 'plugins/comments/system/layout/js/lib/ui-bootstrap-tpls-0.12.0.min.js'
     )
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/app.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/controllers.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/filters.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/directives.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/services.min.js');
?>
<div data-ng-controller="ListCtrl as CommentsSystem">
    <div class="comments-total" data-ng-show="commentsList.length > 0">
        <?php echo $this->translate('Total comments'); ?>: <span data-ng-bind="totalItems"></span>
    </div>
    <ul id="c-list-<?php echo $this->listId; ?>" class="comments-list" data-ng-init="initLoadList()" data-ng-show="commentsList.length>0">
        <li data-ng-repeat="comment in commentsList | avatars | orderBy:predicate:orderInvert">
            <div class="comment" data-ng-class="{unpublished: comment.published != 1}">
                <span class="c-userImage">
                    <img src="/" data-ng-src="{{comment.imageUrl}}" alt="{{comment.fullName}}" />
                </span>
                <span class="c-number" data-ng-bind="comment.number"></span>
                <strong class="c-fullName" data-ng-bind="comment.fullName"></strong>
                <span class="c-registered" data-ng-if="comment.userId!=0" data-translate="USER_STATUS"></span>
                <span class="c-date" data-ng-bind="comment.datePublished | date:dateFormat"></span>
                <p class="c-message" data-ng-bind="comment.message" data-ng-hide="comment.editing"></p>
                <div data-edit-comment-directive data-ng-if="comment.userId == uid"></div>
                <p class="c-aspects">
                    <span class="positive" data-ng-bind="comment.positive"></span>
                    <span class="negative" data-ng-bind="comment.negative"></span>
                </p>
                <div class="c-manipulation">
                    <span data-ng-if="comment.subComments.length > 0" data-translate="REPLIES" data-translate-value-count="{{comment.subComments.length}}"></span>
                    <a data-ng-click="reply(comment)" data-translate="REPLY"></a>
                    <a data-ng-click="publish(comment)" data-ng-if="comment.published != 1 && isAdmin" data-translate="PUBLISH"></a>
                    <a data-ng-click="edit(comment)" data-ng-if="comment.userId == uid" data-translate="EDIT"></a>
                    <a data-ng-click="spam(comment)" data-ng-if="isAdmin" data-translate="SPAM"></a>
                    <a class="error" data-ng-click="remove(comment)" data-ng-if="comment.userId == uid || isAdmin" data-translate="REMOVE"></a>
                    <p class="c-rating" data-ng-if="rating == 1">
                        <a class="c-inc" data-ng-click="changeRat(comment, 'inc')" data-ng-if="isUser">+</a>
                        <span data-ng-class="{'ratingGood': comment.rating > 0, 'ratingBed': comment.rating < 0}" data-ng-bind="comment.rating"></span>
                        <a class="c-dec" data-ng-click="changeRat(comment, 'dec')" data-ng-if="isUser">-</a>
                    </p>
                </div>
            </div>
            <div data-reply-comment-directive></div>
            <ul class="sub-comments-list" data-ng-if="comment.subComments.length != 0">
                <li data-ng-repeat="subComment in comment.subComments | avatars">
                    <div class="comment" data-ng-class="{unpublished: subComment.published != 1}">
                        <span class="c-userImage">
                            <img src="/" data-ng-src="{{subComment.imageUrl}}" alt="{{subComment.fullName}}" />
                        </span>
                        <span class="c-number" data-ng-bind="subComment.number"></span>
                        <strong class="c-fullName" data-ng-bind="subComment.fullName"></strong>
                        <span class="c-registered" data-ng-if="subComment.userId!=0" data-translate="USER_STATUS"></span>
                        <span class="c-date" data-ng-bind="comment.datePublished | date:dateFormat"></span>
                        <p class="c-message" data-ng-bind="subComment.message" data-ng-hide="subComment.editing"></p>
                        <div data-edit-comment-directive data-ng-if="subComment.userId == uid"></div>
                        <p class="c-fact">
                            <span class="positive" data-ng-bind="subComment.positive"></span>
                            <span class="negative" data-ng-bind="subComment.negative"></span>
                        </p>
                        <div class="c-manipulation">
                            <a data-ng-click="publish(subComment)" data-ng-if="subComment.published != 1 && isAdmin" data-translate="PUBLISH"></a>
                            <a data-ng-click="edit(subComment)" data-ng-if="subComment.userId == uid" data-translate="EDIT"></a>
                            <a class="error" data-ng-click="remove(subComment)" data-ng-if="subComment.userId == uid || isAdmin" data-translate="REMOVE"></a>
                            <p class="c-rating" data-ng-if="rating == 1">
                                <a class="c-inc" data-ng-click="changeRat(subComment, 'inc')" data-ng-if="isUser">+</a>
                                <span data-ng-class="{'ratingGood': subComment.rating > 0, 'ratingBed': subComment.rating < 0}" data-ng-bind="subComment.rating"></span>
                                <a class="c-dec" data-ng-click="changeRat(subComment, 'dec')" data-ng-if="isUser">-</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div
        data-pagination=""
        data-ng-show="totalItems > itemsPerPage"
        data-total-items="totalItems"
        data-items-per-page="itemsPerPage"
        data-ng-model="currentPage"
        data-page="currentPage"
        data-boundary-links="true"
        data-rotate="false">
    </div>
    <div data-ng-show="commentsList.length == 0" class="no-comments">
        <p><?php echo $this->translate(
                'At the moment there are no comments. Be the first to leave your review!'
            ); ?></p>
    </div>
    <script>
        commentsSystem.constant('listCtrlParams', <?php echo $this->widgetCtrlParams; ?>)
    </script>
</div>