<div class="hidden">
    <?php
    $thingsUploader = $this->toasterUploader(
        array(
            'id'            => 'comments-userImage-uploader',
            'caption'       => $this->translate('Upload avatar'),
            'caller'        => 'media',
            'noMultiupload' => true
        )
    );
    echo $thingsUploader; ?>
</div>
<div class="comments-userImage-uploader">
    <label><?php echo $this->translate('You avatar'); ?></label>
    <a href="javascript:;" class="_upload">
        <?php if (!isset($this->imageName)): ?>
            <img width="<?php echo $this->defaultImageWidth; ?>" src="<?php echo $this->websiteUrl; ?>plugins/comments/system/layout/img/default.jpg"
                 alt="default"/>
        <?php else : ?>
            <img width="<?php echo $this->defaultImageWidth; ?>"
                 src="<?php echo $this->websiteUrl; ?>media/<?php echo $this->folderName; ?>/thumbnails/<?php echo $this->imageName; ?>"
                 alt="<?php echo $this->imageName; ?>"/>
        <?php endif; ?>
    </a>
    <a href="javascript:;"
       class="_delete <?php echo (!$this->imageName) ? 'hide' : ''; ?>"><?php echo $this->translate('Delete your avatar'); ?></a>

    <div id="progressbar" class="progressbar hide">
        <span class="label"><?php echo $this->translate('Uploading'); ?>&nbsp;<b class="value">0</b></span>
    </div>
    <input type="hidden" name="things-select-folder" value="<?php echo $this->folderName;?>" id="things-select-folder"/>
    <script type="text/javascript">
        $(window).load(function () {
            $('.comments-userImage-uploader')
                .on('click', '._upload', function () {
                    $('#comments-userImage-uploader-pickfiles').trigger('click');
                })
                .on('click', '._delete', function (e) {
                    $.ajax({
                        type    : "POST",
                        url     : '<?php echo $this->websiteUrl; ?>plugin/comments/run/deleteImageData/',
                        dataType: "json",
                        data    : {
                            id: <?php echo $this->userId; ?>
                        },
                        success : function (response) {
                            if (!response.error) {
                                var src = '<?php echo $this->websiteUrl; ?>plugins/comments/system/layout/img/default.jpg';
                                $('.comments-userImage-uploader img').attr('src', src);
                                $('.comments-userImage-uploader ._delete').addClass('hide');
                            }
                        }
                    });
                });
            jsCommentsUserImageUploader.bind('BeforeUpload', function (uploader, file) {
                $('#progressbar').removeClass('hide').progressbar({value: 0});
                jsCommentsUserImageUploader.settings.multipart_params = {'folder': '<?php echo $this->folderName; ?>'};

                var ext = /\.jpe?g|\.gif|\.png$/i.exec(file.name);
                file.name = '<?php echo $this->userFullName; ?>' + ext;
            });
            jsCommentsUserImageUploader.bind('FileUploaded', function (uploader, file) {
                $.ajax({
                    type    : "POST",
                    url     : '<?php echo $this->websiteUrl; ?>/plugin/comments/run/saveImageData/',
                    dataType: "json",
                    data    : {
                        commentId : 1,
                        folderName: '<?php echo $this->folderName; ?>',
                        imageName : file.name
                    },
                    success : function (response) {
                        if (!response.error) {
                            var currDate = new Date();
                            var src = '<?php echo $this->websiteUrl; ?>media/<?php echo $this->folderName; ?>/thumbnails/' + response.responseText + '?' + currDate.getTime();
                            $('.comments-userImage-uploader img').attr('src', src);
                            $('.comments-userImage-uploader ._delete').removeClass('hide');
                        }
                    }
                });

                $('#progressbar').addClass('hide');
            });
            jsCommentsUserImageUploader.bind('UploadProgress', function (up, file) {

                $('#progressbar')
                    .progressbar()
                    .progressbar({value: file.percent})
                    .find('.value')
                    .text(file.percent);

            });
        })
    </script>
</div>