<?php
$this->jQuery()->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/angular.min.js')
     ->addJavascriptFile(
         $this->websiteUrl . 'plugins/comments/system/layout/js/locale/angular-locale_' . $this->lang . '-' . $this->lang . '.min.js'
     )
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/angular-translate.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/lib/timeAgo.min.js')
     ->addJavascriptFile(
         $this->websiteUrl . 'plugins/comments/system/layout/js/lib/ui-bootstrap-tpls-0.12.0.min.js'
     )
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/app.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/controllers.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/filters.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/directives.min.js')
     ->addJavascriptFile($this->websiteUrl . 'plugins/comments/system/layout/js/services.min.js');
?>
<form id="c-form-<?php echo $this->formId; ?>" class="comments-form-send" data-ng-controller="FormCtrl as CommentsSystem" data-ng-submit="sendComment()">
    <p class="form-messages" data-ng-repeat="message in formMessages track by $index" data-ng-show="formMessages">
        <span data-ng-bind="message.responseText" class="message"></span>
    </p>
    <?php echo $this->uploader; ?>
    <p class="graph">
        <label class="required"><?php echo $this->translate('Your full Name'); ?></label>
        <input type="text" data-ng-model="sForm.fullName" data-ng-readonly="isUser" data-ng-disabled="isUser" />
    </p>

    <p class="graph">
        <label class="required"><?php echo $this->translate('Your E-mail'); ?></label>
        <input type="text" data-ng-model="sForm.email" data-ng-readonly="isUser" data-ng-disabled="isUser" />
    </p>

    <p class="graph">
        <label class="required"><?php echo $this->translate('Your Message'); ?></label>
        <textarea data-ng-model="sForm.message"></textarea>
    </p>
    <?php if ($this->aspects): ?>
        <p class="graph grid_6 alpha">
            <label><?php echo $this->translate('Positive aspects'); ?></label>
            <input type="text" data-ng-model="sForm.positive" />
        </p>

        <p class="graph grid_6 omega">
            <label><?php echo $this->translate('Negative aspects'); ?></label>
            <input type="text" data-ng-model="sForm.negative" />
        </p>
    <?php endif; ?>
    <?php if ($this->btnOnlyLogged): ?>
        <?php if ($this->isUser): ?>
            <p class="graph">
                <button data-ng-disabled="sendDisabled" type="submit"><?php echo $this->translate(
                        'Send Comment'
                    ); ?></button>
            </p>
        <?php else : ?>
            <p class="graph">
                <span class="message info"><?php echo $this->translate(
                        'You can leave comments only after authorization on the website.'
                    ); ?></span>
            </p>
        <?php endif; ?>
    <?php else : ?>
        <?php if ($this->captcha): ?>
            <?php
            $websiteConfig = Zend_Controller_Action_HelperBroker::getExistingHelper('config')->getConfig();
            ?>
            <div class="g-recaptcha" data-sitekey="<?php echo $websiteConfig[Tools_System_Tools::GRECAPTCHA_PUBLIC_KEY];?>"></div>
        <?php endif; ?>
        <p class="graph">
            <button data-ng-disabled="sendDisabled" type="submit"><?php echo $this->translate(
                    'Send Comment'
                ); ?></button>
        </p>
    <?php endif; ?>
    <script>
        commentsSystem.constant('formCtrlParams', <?php echo $this->widgetCtrlParams; ?>)
    </script>
</form>