<form action="javascript:;" method="post" data-name="comments" id="comments-widget-form" class="wmc-block">
    <p>
        <?php echo $this->formLabel('comments-type', $this->translate('Type'), array('class' => 'grid_5 alpha')); ?>
        <?php echo $this->formSelect('commentsType', 'Select a type', array('id' => 'comments-type', 'class' => 'grid_7 alpha omega small'), array(Widgets_Comments_Comments::COMMENTS_TYPE_FORM => 'Form', Widgets_Comments_Comments::COMMENTS_TYPE_LIST => 'List')); ?>
    </p>
    <p class="mt5px">
        <?php echo $this->formLabel('comments-name', $this->translate('Name'), array('class' => 'grid_5 alpha')); ?>
        <?php echo $this->formText('commentsName', null, array('id' => 'comments-name', 'class' => 'grid_7 alpha omega small max-res-row')); ?>
    </p>
    <p class="mt5px only-form">
        <label class="max-res-row grid_6 alpha omega suffix_6 pointer">
            <span class="grid_10 alpha omega"><?php echo $this->translate('Aspects'); ?></span>
            <?php echo $this->formCheckbox('aspects', 'aspects', array('id' => 'aspects')); ?>
        </label>
    </p>
    <p class="mt5px">
        <label class="max-res-row grid_6 alpha omega suffix_6 pointer">
            <span class="grid_10 alpha omega"><?php echo $this->translate('Avatars'); ?></span>
            <?php echo $this->formCheckbox('avatars', 'avatars', array('id' => 'avatars')); ?>
        </label>
    </p>
    <p class="mt5px only-form">
        <label class="max-res-row grid_6 alpha omega suffix_6 pointer">
            <span class="grid_10 alpha omega"><?php echo $this->translate('No moderated'); ?></span>
            <?php echo $this->formCheckbox('noModerated', 'noModerated', array('id' => 'noModerated')); ?>
        </label>
    </p>
    <p class="mt5px only-list hide">
        <label class="max-res-row grid_6 alpha omega suffix_6 pointer">
            <span class="grid_10 alpha omega"><?php echo $this->translate('Rating'); ?></span>
            <?php echo $this->formCheckbox('rating', 'rating', array('id' => 'rating')); ?>
        </label>
    </p>
    <p class="mt5px only-list hide">
        <label class="max-res-row grid_6 alpha omega suffix_6 pointer">
            <span class="grid_10 alpha omega"><?php echo $this->translate('Order Invert list'); ?></span>
            <?php echo $this->formCheckbox('orderInvert', 'orderInvert', array('id' => 'orderInvert')); ?>
        </label>
    </p>
    <p class="mt5px">
        <label class="max-res-row grid_6 alpha omega suffix_6 pointer">
            <span class="grid_10 alpha omega"><?php echo $this->translate('Static'); ?></span>
            <?php echo $this->formCheckbox('static', 'static', array('id' => 'static')); ?>
        </label>
    </p>
	<?php echo $this->formSubmit('applyWidgetCommentsSystem', 'Apply', array('class' => 'btn small')); ?>
</form>
<script type="text/javascript">
    $(function() {

        $(document).on('change', '#comments-type', function() {
            if($(this).val() == 'form'){
                $('.only-form').removeClass('hide');
                $('.only-list').addClass('hide');
            } else if($(this).val() == 'list'){
                $('.only-list').removeClass('hide');
                $('.only-form').addClass('hide');
            }
        });

        // Generation widget from form options
        $(document).on('click', '#applyWidgetCommentsSystem', function() {
            var error      = false,
                widgetForm = $(this).closest('form'),
                widgetHtml = '{$' + widgetForm.data('name');

            widgetForm.find(':input:visible, label:visible>:checkbox').not('[type=hidden], [type=submit]').each(function () {
                /*if ($(this).hasClass('crop') && $(this).prop('checked')) {
                    widgetHtml = widgetHtml.replace(':img', '');
                    return;
                }*/

                /*if ($(this).hasClass('gal-width')) {
                    if ($(this).val()) {
                        cropOption = cropOption+'-'+$(this).val();
                        return;
                    }
                    else {
                        return;
                    }
                }*/

                /*if ($(this).hasClass('gal-height')) {
                    if ($(this).val() && cropOption != ':imgc') {
                        widgetHtml += cropOption+'x'+$(this).val();
                        return;
                    }
                    else {
                        widgetHtml += cropOption
                        return;
                    }
                }*/

                if ($(this).attr('type') == 'checkbox' && !$(this).prop('checked')) {
                    /*if ($(this).hasClass('allowzero')) {
                        widgetHtml += ':0';
                    }*/
                    return;
                }

                if ($(this).hasClass('validate')) {
                    if (!$(this).val() || $(this).val() == 0) {
                        $(this).addClass('error');
                        error = true;
                    }
                }

                if (!error) {
                    widgetHtml += ':' + $(this).val();
                }
            });
            if (!error) {
                widgetHtml += '}';
                tinymce.activeEditor.execCommand('mceInsertContent', false, widgetHtml);
            }
        });
    });
</script>
